/*-----------------------------------*\
  #variables.css
\*-----------------------------------*/

/**
 * copyright 2021 @codewithsadee 
 */





:root {

  /**
   * Colors 
   */

   --eerie-black-dark: #000000;
   --liver-chestunut: #b3a0a0;
   --battleship-gray: #896868;
   --spanish-gray: #ffeeee;
   --eerie-black: #998c68;
   --smoky-black: #b3ab9d;
   --light-gray: #cccccc;
   --may-green: #459a3c;
   --gainsboro: #dedede;
   --white: #ffffff;
   --jet: #8d6868;

  /**
   * Typograpy 
   */

  --fs-1: 36px;
  --fs-2: 30px;
  --fs-3: 24px;
  --fs-4: 20px;
  --fs-5: 18px;
  --fs-6: 14px;

  /**
   * Others 
   */

  --default-transition: 0.25s ease;

}